*.o
demo
*.gcda
*.gcno
*.gcov
*.lo
*.la
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.sub
config.log
config.status
config.h
stamp-h1
libtool
.deps
configure
depcomp
include/Makefile.in
include/config.h.in
include/config.h
include/config.h.in~
install-sh
ltmain.sh
m4/
missing
src/Makefile.in
